

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
  }

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
  }
  
main {

}

.random_commander {
    color: darkorange;
}

.commander__image {
    
}

#edh{
    position: absolute;
    color: white;
}

#scry {
    position: absolute;
    color: red;
    
}